<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Page web</title>
    </head>

    <body>
	<h1>Ma page web</h1>

		<?php echo $donnees['prenom'];?>
		Age <?php echo $donnees['age'];?>
		Famille <?php echo $donnees['famille'];?>
		Race <?php echo $donnees['race'];?>
		Nourriture <?php echo $donnees['nourriture'];?>
	</p>

	<div class="bouton">
	<input type="button" value="Login" onclick="document.location.href='login' ;"/>
	</div>
	
	<div class="bouton">
	<input type="button" value="Register" onclick="document.location.href='register' ;"/>
	</div>
	
    </body>

</html>